.games {
  background-color: #284b63;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  position: relative;
}

.games__list {
  padding-bottom: 8px;
}

.games__list li {
  padding-right: 90px;
}

.fa-gamepad {
  font-size: 2rem;
  position: absolute;
  top: 4px;
  right: 10px;
  color: white;
}

.food {
  background-color: #284b63;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  position: relative;
}

.food__list {
  padding-bottom: 8px;
}

.food__list li {
  padding-right: 90px;
}

.fa-burger {
  position: absolute;
  font-size: 2rem;
  top: 4px;
  right: 10px;
  color: white;
}

.animals {
  background-color: #284b63;
  border-radius: 20px;
  width: 400px;
  margin: auto;
  margin-bottom: 60px;
  position: relative;
}

.animals__list {
  padding-bottom: 8px;
}

.animals__list li {
  padding-right: 90px;
}

.fa-paw {
  position: absolute;
  font-size: 2rem;
  top: 4px;
  right: 10px;
  color: white;
}
