@import "./navigation.css";
@import "./footer.css";
@import "./biography.css";
@import "./favoriteThings.css";

@font-face {
  font-family: "Raleway";
  src: url("./Raleway/Raleway-VariableFont_wght.ttf");
}

body {
  text-align: center;
  background-color: #d9d9d9;
}

h1,
h2 {
  font-family: Raleway;
}

h1 {
  text-shadow: 2px 3px #bab9b9;
  margin-top: 70px;
}

h2 {
  padding-top: 10px;
  text-shadow: 2px 1px #436f8d;
}

.image {
  width: 200px;
  display: block;
  margin: auto;
  border-radius: 50%;
}

section li {
  font-family: Arial, Helvetica, sans-serif;
}

section p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

section a {
  font-family: Arial, Helvetica, sans-serif;
  color: #d9d9d9;
}

ul {
  color: #d9d9d9;
  display: block;
  text-align: center;
  margin: auto;
  list-style-position: inside;
  width: 400px;
  padding-right: 50px;
  padding-bottom: 12px;
}

ul li {
  padding-bottom: 8px;
}

.aboutMe li {
  padding-right: 90px;
}

.aboutMe {
  background-color: #284b63;
  border-radius: 20px;
  width: 400px;
  margin: auto;
}
